.gradientBg {
    background: linear-gradient(30deg, var(--color-orange), var(--color-blue));
    padding: 3px;
    color: white;
    border-radius: 33px;
    width: max-content;
    display: inline-block;
    margin-right: 10px;

    button {
        border: none;
        border-radius: 30px;
        padding: 12px 24px;
        background-color: white;
        cursor: pointer;
        font-weight: 800;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 8px;

        &:hover {
            color: #fff;
            background: linear-gradient(30deg, var(--color-orange), var(--color-blue));
        }
    }
}