@import '../../index.css';

.container {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    align-items: center;
    border-bottom: 1px solid var(--border-color);

    header {
        max-width: 400px;
    }
}