@import '../../commonMixins/section.scss';

.container {
    background: linear-gradient(45deg, var(--color-orange-dark), var(--color-blue-dark));
    color: white;
    text-align: center;
    padding: 100px;
    transform: skew(0deg, -4deg);

    h2,
    p,
    .grid {
        transform: skew(0deg, 4deg);
        max-width: 800px;
        margin: 0 auto
    }

    h2 {
        @include common-h2;
        margin-bottom: 30px;
    }

    p {
        @include common-p;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 40px;

        .exams {
            display: flex;
            align-items: center;
            background: #0002;
            margin: 10px;
            border-radius: 14px;
            padding: 20px;
            border: 1px solid #0003;
            gap: 10px;
            box-shadow: 1px 2px 4px #000;

            .number {
                @include common-h1;
                color: yellow;
                font-weight: 700;
            }

            .examContent {
                max-width: 250px;
                text-align: left;
            }
        }
    }
}


@media (max-width: $breakpoint-mobile) {
    .container {
        padding: 50px 24px;

        .grid {
            display: block;
        }
    }
}