@import '../../commonMixins/section.scss';

.container {
    background: linear-gradient(45deg, var(--color-orange-dark), var(--color-blue-dark));
    color: white;
    text-align: center;
    padding: 100px;

    transform: skew(0deg, -4deg);
    // height: 254px;

    h2,
    p {
        transform: skew(0deg, 4deg);
        max-width: 800px;
        margin: 0 auto
    }

    h2 {
        @include common-h2;
        margin-bottom: 30px;
    }

    p {
        @include common-p
    }
}