body {
  margin: 0;
  font-family: Calibre, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--bg-color);
  color: var(--text-color); */
}


body {
  --bg-color: hsl(0, 0%, 100%);
  --text-color: hsl(240, 9%, 29%);
  --text-color-solid: hsl(0, 0%, 0%);
  --border-color: hsl(211, 25%, 84%);
  --border-color-2: hsl(218, 23%, 23%);
  --active-color: hsl(260, 16%, 93%);
  --tertiary-color: hsl(258, 50%, 40%);

  /* same for both */
  --primary-color-1: hsl(285, 63%, 44%);
  --primary-color-opacity: hsla(285, 63%, 44%, 0.3);
  --primary-color-2: hsl(258, 50%, 40%);
}

/* Dark theme colors */
body.dark {
  --bg-color: hsl(207, 95%, 8%);
  --text-color: hsla(0, 0%, 100%, 0.94);
  --text-color-solid: hsl(0, 0%, 100%);
  --border-color: hsl(218, 23%, 23%);
  --border-color-2: hsl(211, 25%, 84%);
  --active-color: hsl(218, 19%, 17%);
  --tertiary-color: hsl(186, 73%, 46%);
  --color-white: hsl(0, 0%, 100%);
  --text-color-2: hsl(240, 9%, 29%);

  --primary-color-1: hsl(7, 84%, 71%);
  --primary-color-opacity: hsla(7, 84%, 71%, 0.3);
  --primary-color-2: hsl(258, 50%, 40%);
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {

  /* defaults to dark theme */
  body {
    --bg-color: hsl(207, 95%, 8%);
    --text-color: hsla(0, 0%, 100%, 0.94);
    --text-color-solid: #ffffff;
    --border-color: hsl(218, 23%, 23%);
    --border-color-2: hsl(211, 25%, 84%);
    --active-color: hsl(218, 19%, 17%);
    --tertiary-color: hsl(186, 73%, 46%);
    --color-white: hsl(0, 0%, 100%);
    --text-color-2: hsl(240, 9%, 29%);

    --primary-color-1: hsl(7, 84%, 71%);
    --primary-color-opacity: hsla(7, 84%, 71%, 0.3);
    --primary-color-2: hsl(258, 50%, 40%);
  }

  /* Override dark mode with light mode styles if the user decides to swap */
  body.light {
    --bg-color: hsl(0, 0%, 100%);
    --text-color: hsl(240, 9%, 29%);
    --text-color-solid: hsl(0, 0%, 0%);
    --border-color: hsl(211, 25%, 84%);
    --border-color-2: hsl(218, 23%, 23%);
    --active-color: hsl(260, 16%, 93%);
    --tertiary-color: hsl(258, 50%, 40%);

    --primary-color-1: hsl(285, 63%, 44%);
    --primary-color-opacity: hsla(285, 63%, 44%, 0.3);
    --primary-color-2: hsl(258, 50%, 40%);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}