body {
  margin: 0;
  font-family: 'Roboto', Calibre, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--bg-color);
  color: var(--text-color); */
}


body {
  --bg-color: hsl(0, 0%, 100%);
  --color-orange: hsl(15, 69%, 51%);
  --color-blue: hsl(235, 91%, 18%);
  --color-orange-dark: hsl(15, 67%, 20%);
  --color-blue-dark: hsl(235, 91%, 3%);
}

/* Dark theme colors */
body.dark {
  --bg-color: hsl(207, 95%, 8%);
  --color-orange: hsl(15, 69%, 51%);
  --color-blue: hsl(235, 91%, 18%);
  --color-orange-dark: hsl(15, 67%, 20%);
  --color-blue-dark: hsl(236, 88%, 3%);
}

.active {
  text-decoration: underline;
  color: red;
  background-color: white;
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {

  /* defaults to dark theme */
  body {
    --bg-color: hsl(207, 95%, 8%);
    --color-orange: hsl(15, 69%, 51%);
    --color-blue: hsl(235, 91%, 18%);
    --color-orange-dark: hsl(15, 67%, 20%);
    --color-blue-dark: hsl(235, 91%, 13%);
  }

  /* Override dark mode with light mode styles if the user decides to swap */
  body.light {
    --bg-color: hsl(0, 0%, 100%);
    --color-orange: hsl(15, 69%, 51%);
    --color-blue: hsl(235, 91%, 18%);
    --color-orange-dark: hsl(15, 67%, 10%);
    --color-blue-dark: hsl(235, 91%, 3%);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}